*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  background: rgb(38, 38, 38);
}

/* ------------- HEADER SECTION --------------- */

/* ------------- HEADER SECTION --------------- */
.header {
  width: 80%;
  margin: 0 auto 2rem;
  position: relative;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.blur {
  border-radius: 0.625rem;
  margin: 0 auto 2rem;
  position: relative;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.blur {
  border-radius: 0.625rem;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  position: relative;
  background-color: transparent;
  padding: 5px 10px;
}
.overlay {
  border-radius: 0.625rem;
  background: linear-gradient(#bbbbbb6c, #bbbbbb6c);
  filter: blur(1px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}
.heading-text {
  text-align: center;
}
/* adjust width of both h1 and paragraph */
h1 {
  font-size: 1.5rem;
  color: #fff;
}

.header p {
  font-size: 0.88rem;
  margin-bottom: 0.44rem;
  color: #fff;
}
.d-flex {
  display: flex;
  align-items: center;
}
.donate_twitt > a,
donate_twitt > button {
  display: inline-block;
  margin-right: 4px;
}
/*  donate button styling */
.header button {
  background-color: #1e90ff;
  border: none;
  margin-top: 0.625rem;
  padding: 0.313rem 0.625rem 0.125rem 0.625rem;
  border-radius: 0.313rem;
}
.header button:hover {
  box-shadow: 0.063rem 0.313rem gray;
}
/* link for donate button styling */
a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: bold;
}
/* all icons */
img {
  margin-top: 0.625rem;
  height: 1.25rem;
}
/* header and back */

/* main section */
section.sticky_section {
  padding: 24px 0;
  display: flex;
  flex-direction: column; /* default mobile layout design */
}
.col {
  display: flex; /* flex-container for each sticky notepad */
  justify-content: center;
  min-width: 100%;
  border: 0;
  padding: 10px;
}

.notes {
  /* textarea or sticky-notepad style */
  max-width: 220px;
  min-width: 250px;
  max-height: 300px;
  text-align: left !important;
  padding: 0.5rem 16px;
  border-radius: 1.5px;
  overflow: auto;
  resize: none;
}

.notes:focus {
  outline-color: #ffffff85;
}
.notes p {
  font-size: 0.88rem;
}
.notes h2 {
  font-size: calc(18rem / 16);
  margin: 0 0 0.56rem;
}
/* colors of each notepads */
.red {
  border: 3px solid #f05c5ce6;
  background-color: #f7aaaae6;
}
.lightBlue {
  border: 3px solid #5f9ea0e6;
  background-color: #abeef0e6;
}
.purple {
  border: 3px solid #4c0082cb;
  background-color: #ae91c2cb;
}
.darkBlue {
  border: 3px solid #0909d1d6;
  background-color: #93adf8d6;
}
.yellow {
  border: 3px solid #efbd05f0;
  background-color: #f2dc8ff0;
}
.pink {
  border: 3px solid #d87093e6;
  background-color: #f1b5c9e6;
}
/* Footer section */
.footer {
  position: relative;
  bottom: 0;
  background-color: #e0e0e0e6;
  text-align: center;
  padding: 0.5rem;
}
/* Media Queries for responsive design */
@media (min-width: 40em) {
  section.sticky_section {
    /* for small devices up e.g ipads & tablets*/
    flex-direction: row;
    flex-wrap: wrap;
  }
  .col {
    min-width: 50%;
  }
}
@media (min-width: 50em) {
  .col {
    /* for medium devices up e.g laptops */
    min-width: 33.33%;
  }
  .notes {
    max-width: 200px;
    min-width: 230px;
  }
  .header {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media (min-width: 75em) {
  /* for Large devices up e.g big laptops and desktops*/
  .col {
    min-width: 25%;
  }
}
/*  AMINA'S STYLES ENDS HERE*/

/* IF Your're a collaborator, Add styles from this line here*/

/* //////////////////////////////////////////////////*/
/* Rachel's styles starts here */
.rachel-note {
  background-color: #f36666de;
  color: white;
  font-size: 1rem;
  transition: transform 0.5s;
  border: 2px solid white;
}

::placeholder {
  /* General placeholder */
  font-size: 0.875rem;
  color: #4f4f4f;
}

.rachel-note:hover {
  transform: rotate(-10deg) scale(1.05);
}
.rachel-note:focus {
  transform: none;
}
/* Rachel's styles ends here */
/*Rita's styles starts here*/
.rita {
  background-color: white;
  border: 2px solid #4c0082cb;
  color: #180325cb;
  height: 100%;
  transition: height 2s;
}
.rita:hover {
  height: 200px;
}
/*Rita's style ends here*/
/* //////////////////////////////////////////////////*/
